<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>


<form id="my-form" action="." method="POST">
    <input name="sentence" type="text" placeholder="Enter a sentence" />
    <input type="submit" value="OK" />
</form>

<p>Sentence received : {{sentence}}</p>

</body>
</html>